body{
  font-family: $customized-font-family;
  color: $gray-900;
  line-height: $line-height;
}

*, *::before, *::after{
	box-sizing: border-box;
}

img, video{
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}