.text-success {
  color: $succes;
}

.text-danger {
  color: $danger;
}

.text-gray-100{
  color: $gray-100;
}

.text-gray-400{
color: $gray-400;
}

.text-gray-600{
color: $gray-600;
}

.text-gray-900{
color: $gray-900;
}