$succes: #198754;
$danger: #DC3545;
$gray-100: #F8F9FA;
$gray-400: #CED4DA;
$gray-600: #6C757D;
$gray-900: #212529;
$font-family: 'Roboto Mono', 'Lato', sans-serif;
$anim-time: 0.3s;
$line-height: 1.5;