.header {
  .active {
    a {
      &::before {
        content: "";
        width: 3px;
        height: 100%;
        position: absolute;
        background: #198754;
        left: -2rem;
        top: 0;
      }
    }
  }
}

.logo {
  width: 150px;
  background: url("https://hexschool.github.io/webLayoutTraining1st/week5/logo-ANSWER.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: 101%;
  overflow: hidden;
}
